.footer {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 2rem 0;
	margin-top: 2rem;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.social {
	padding-bottom: 2rem;
}

.social a {
	padding-right: 1rem;
}

.social a:hover {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.footer {
		border-color: #222;
	}
}
