.container {
	text-align: center;
}

.btn_top {
	position: relative;
}

.btn_position {
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 20;
	cursor: pointer;
	animation: movebtn 2s ease-in-out infinite;
	transition: all 0.5s ease-in-out;
	font-size: 3rem;
	background-color: var(--prim-green);
	color: black;
	border: 2px solid var(--prim-green);
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.btn_position:hover {
	animation: none;
	background-color: black;
	border: 2px solid var(--prim-green);
	color: var(--prim-green);
}

@keyframes movebtn {
	0% {
		transform: translateY((0px));
	}
	25% {
		transform: translateY((20px));
	}
	50% {
		transform: translateY((0px));
	}
	75% {
		transform: translateY((-20px));
	}
	100% {
		transform: translateY((0px));
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}
